<div class="container">
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <div class="text">
    <h1 class="">Eat better!</h1>
    <a href="">Get Started</a>
    </div>
  </div>
</div>
<hr>
<div class="section row d-flex justify-content-around">
  <div class="card gallery col-md-3 text-center">
  <div class="card-body">
    <h5 class="card-title">Plan your meals and buy smartly</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="card-link">Let´s go!    <i class="fas fa-long-arrow-alt-right"></i></a>
  </div>
</div>
  <div class="card gallery col-md-3 text-center">
  <div class="card-body">
    <h5 class="card-title">Share your recipes and get inspired by your friends</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="card-link">Find you friends   <i class="fas fa-long-arrow-alt-right"></i></a>
  </div>
</div>
  <div class="card gallery col-md-3 text-center">
  <div class="card-body">
    <h5 class="card-title">Find alternatives for your special diets</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="card-link">See more   <i class="fas fa-long-arrow-alt-right"></i></a>
  </div>
</div>
</div>
<hr>
  <h1 class="recipHeader mb-4">The most liked recipes this week</h1>
<div class="recipes">
<div class="card recipe mb-4">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="https://images.unsplash.com/photo-1546554137-f86b9593a222?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" class="card-img" alt="...">
    </div>
    <div class="col-lg-8">
      <div class="card-body">
        <h5 class="card-title">Stuff Avocado</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.<span class="more">See more...</span></p>
        <div class="tag">
          <span class="gluten">#GlutenFree</span>
          <span class="veggie">#Veggie</span>
          <span class="dairy">#DairyFree</span>
          <span><i class="fas fa-heart ml-3"></i>  187</span>
        </div>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
</div>
<div class="card recipe mb-4" >
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="https://images.unsplash.com/photo-1578020190125-f4f7c18bc9cb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" class="card-img" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Chick Peas Curry</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer <span class="more">See more...</span> </p>
       <div class="tag">
          <span class="veggie">#Veggie</span>
          <span class="dairy">#DairyFree</span>
          <span><i class="fas fa-heart ml-3"></i>  112</span>
        </div>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
</div>
  </div>
</div>