<h1>New recipes page</h1>


<form action="/recipe/add" method="POST">

  <label for="">Title:</label>
  <input type="text" name="title">

  <label for="">Recipe:</label>
  <input type="text" name="recipe">



  <label for="">Image:</label>
  <input type="text" name="recipeImg">

  <label for="">Duration:</label>
  <input id="duration" type="number" name="duration">


  <label for="">Quantity:</label>
  <input type="number" name="quantity">

  <label for="">Mesure:</label>
  <select id="mesure">
    <option value="g">g</option>
    <option value="kg">kg</option>
    <option value="ml">ml</option>
    <option value="l">l</option>
    <option value="unit">unit</option>
    <option value="spoon">spoon</option>
    <option value="teaspoon">teaspoon</option>
  </select>

  <label for="">Ingredient:</label>
  <input type="text" name="name">




  <button type="submit">ADD</button>
</form>