<a href="">Edit profile</a><br>
<img src="images/imagedefault.jpg" alt="image{{this.user.username}}">
<input type="image" src="" alt="add image" onclick="">
<h1>{{this.user.username}}</h1>
<p>The rating is the average of all recipies rating</p>
<p>Followes: {{this.user.followers}}</p>
<p>Following: {{this.user.following}}</p>
<p>Tags</p>
<a href="">Follow</a><br>
<a href="">Own recipes (number of recipes)</a><br>
<a href="">Liked recipes (number of recipes)</a><br>




<p>Here we will display recipes</p>