.jumbotron.jumbotron-fluid {
  margin-top: 1rem;
  background-image: url("/images/banner.png");
  background-repeat: no-repeat;
  background-position: bottom;
  background-color: #e3e3e5;
  /* background-color: linear-gradient(180deg, rgba(246,246,247,1) 0%, rgba(201,195,199,1) 100%); */
  height: 50vh;
  -webkit-box-shadow: 7px 7px 5px 0px rgba(59, 89, 152, 1);
  -moz-box-shadow: 7px 7px 5px 0px rgba(59, 89, 152, 1);
  box-shadow: 7px 7px 5px 0px rgba(59, 89, 152, 1);
}
.text h1 {
  color: white;
  font-size: 70px;
}
.text {
  text-align: end;
  margin-top: 6rem;
}
.text a {
  padding: 1rem;
  border-radius: 25px;
  background-color: white;
  border: 1px solid #3b5998;
  color: #3b5998;
  font-weight: bold;
  margin-top: 0rem;
}
.text a:hover {
  background-color: #3b5998;
  border: 1px solid #3b5998;
  color: white;
  text-decoration: none;
}
.gallery {
  border: 2px solid #3b5998;
  -webkit-box-shadow: 1px 5px 0px 5px rgba(59, 89, 152, 1);
  -moz-box-shadow: 1px 5px 0px 5px rgba(59, 89, 152, 1);
  box-shadow: 1px 5px 0px 5px rgba(59, 89, 152, 1);
  margin-bottom: 3rem;
  margin-top: 3rem;
}
.card-title {
  color: #3b5998;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-weight: 800;
  letter-spacing: 2px;
}
.card-body {
  max-width: 100%;
}
.card-body p {
  color: #76879b;
  font-family: "Lucida Grande", Verdana, Helvetica, Arial, sans-serif;
  font-size: 14px;
}

.card-link {
  text-decoration: none;
  color: #ed4c27;
  font-weight: 900;
  font-size: 18px;
  letter-spacing: 1px;
  text-align: start;
}
.recipHeader {
  color: #3b5998;
  font-family: "Roboto", sans-serif;
  font-size: 35px;
}
.recipe img {
  height: 12rem;
  width: 100%;
}
.recipe {
  margin: 2rem;
  width: 31rem;
}
.recipes {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

span {
  font-size: 16px;
}
.tag span {
  font-weight: bold;
  margin: 0.25rem;
}
.vegan {
  color: green;
}
.vegetarian {
  color: #50e83f;
}
.dairy-free {
  color: #923fe8;
}
.gluten-free {
  color: #ed4c27;
}
.keto {
  color: #3f89e8;
}
.macrobiotic {
  color: #3fe870;
}
.healthy {
  color: darkorange;
}
.low-sugar {
  color: #ff17e7;
}
.more {
  color: #3b5998;
}
.fas.fa-heart {
  color: red;
}
@-webkit-keyframes hvr-wobble-top {
  16.65% {
    -webkit-transform: skew(-12deg);
    transform: skew(-12deg);
  }
  33.3% {
    -webkit-transform: skew(10deg);
    transform: skew(10deg);
  }
  49.95% {
    -webkit-transform: skew(-6deg);
    transform: skew(-6deg);
  }
  66.6% {
    -webkit-transform: skew(4deg);
    transform: skew(4deg);
  }
  83.25% {
    -webkit-transform: skew(-2deg);
    transform: skew(-2deg);
  }
  100% {
    -webkit-transform: skew(0);
    transform: skew(0);
  }
}
@keyframes hvr-wobble-top {
  16.65% {
    -webkit-transform: skew(-12deg);
    transform: skew(-12deg);
  }
  33.3% {
    -webkit-transform: skew(10deg);
    transform: skew(10deg);
  }
  49.95% {
    -webkit-transform: skew(-6deg);
    transform: skew(-6deg);
  }
  66.6% {
    -webkit-transform: skew(4deg);
    transform: skew(4deg);
  }
  83.25% {
    -webkit-transform: skew(-2deg);
    transform: skew(-2deg);
  }
  100% {
    -webkit-transform: skew(0);
    transform: skew(0);
  }
}
.hvr-skew {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-skew:hover, .hvr-skew:focus, .hvr-skew:active {
  -webkit-transform: skew(-10deg);
  transform: skew(-10deg);
}
@media only screen and (max-device-width: 1030px) {
  .card {
    margin: 0.5rem;
    width: 18rem;
  }
  .text a {
    display: none;
  }
  .recipes{
    flex-direction: column;
  }
  .section.row{
    justify-content: center!important;
  }
}
@media screen and (min-width: 1900px) {
  .container {
    width: 1850px;
  }
  /* .recipe img{
    height: 17;
  } */
}
