.addRecipeForm{
  border: 0px;
  border-bottom: 2px solid rgba(59,89,152,1);
  width: 50vh;
}
.partOne{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 70%;
  margin: 0 auto;
  align-items: center;
}
#preparationTime{
 margin: 0px;
  width: 7rem;
  border: 0px;
  border-bottom: 2px solid rgba(59,89,152,1);
}
.subPart{
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: rgba(59,89,152,1);
  font-weight: bold;
  font-size: 16px;
}
/* #servings{
  margin-left: 1rem;
} */
.detailsPrep i{
  color: fuchsia;
  font-size: 25px;
}
.ingName{
  color: rgba(59,89,152,1);
  text-align: center;
}
.input-group-text{
  background-color: white!important;
  border: 0px!important;
}
.time{
  width: 33rem;
}
.display-not{
  display: none;
}
.detailsPrep{
  display: flex;
  margin: 0 auto;
  width: 80%;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.tagsAdd{
  display: flex;
  flex-direction: row;
  width: 60%;
  flex-wrap: wrap;
  font-weight: bold;
  justify-content: space-around;
}
.eachTag{
  margin: 1rem;
}
.custom-file{
  width: 40vh;
  border: 1px solid rgba(59,89,152,1);
}
.steps{
  margin: 0 auto;
  width: 70%;
  display: flex;
  flex-direction: row;
  font-weight: bold;
  justify-content: space-around;
  align-items: center;
  font-weight: bold;
}
.submitRecipe{
  color: rgba(59,89,152,1);
  font-weight: bold;
  display: block;
  padding: 1rem;
  margin: 2rem auto;
  background-color: white;
  border: 2px solid rgba(59,89,152,1);
}
.submitRecipe:hover{
  background-color: rgba(59,89,152,1);
  color: white;
}
.butIngred{
 background-color: white;
  padding: 0rem;
  margin-left: 0.25rem;
  border: 0px;
}
.butIngred i{
  color: rgba(59,89,152,1);
  font-size: 19px;
  font-weight: bold;
}
.measureSize{
  width: 12rem;
}
.ingredients-in-form{
  position: relative;
  margin: 2rem auto;
  width: 75%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

}
#add-recipie-in-form{
margin: 0 auto
}
label.input-group-text{
  font-weight: bold;
}
.partTwo{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 70%;
  margin: 3rem auto;
}
@media screen and (min-width: 1900px) {
  .container{
    width: 1850px;
  }
.stepText{
  margin-right: 5rem;
}
.ingredients-in-form{
  /* margin: 2rem 3rem; */
  width: 80%;
}
.subPart{
  width: 11rem;
}
.partOne{
  margin-top: 3rem;
}
.steps{
  width: 86%;
}
}
@media only screen and (max-device-width: 800px){
.container{
  width: 23rem;
}
  .partOne{
  flex-direction: column;
}
.partTwo{
  flex-direction: column;
  margin: 0 3rem;
}
.tagsAdd{
  padding: 0px;
  width: 19rem;
  margin: 0px;
  width: 100%;
  flex-direction: row;
}
.ingredients-in-form{
  margin: 2rem 3rem;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.steps{
  flex-direction: column;
  width: 25rem;
}
#add-recipie-in-form{
  top: 56rem;
  right: 33px;
  }
  .detailsPrep{
    flex-direction: column;
  }
  textarea{
    width: 19rem;
    margin: 0 auto;
  }
  .time{
    width: 17rem;
  }

}