
.profile{
  display: flex;
  font-family: 'Roboto', sans-serif; 
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;

}
.personalData img{
  border-radius: 51%;
  width: 12rem;
}
.personalData h6{
  font-weight: bold;
}
.name{
  margin-top: 2rem;
  display: flex;
  justify-content: space-around;
}
.personalData{
  display: flex;
  flex-direction: column;
  align-items: center;
 justify-content:center;

}
.fas.fa-edit{
  color: #3b5998;
  font-size: 20px;
  margin-left: 2rem;
}

.optionsPro {
  padding: 0.5rem;
  background-color: #3b5998;
  color: antiquewhite;
  font-size: 16px;
  border: #3b5998;
  border-radius: 40px;
  width: 20vh;
  text-align: center;
}
.optionsPro:hover{
  text-decoration: none;
  background-color: antiquewhite;
  color: #3b5998;
  border:1px solid #3b5998;
}
.tagPro span{
  font-weight: bold;

}
.tagPro{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.fas.fa-plus-circle{
  color: #3b5998;
  font-size: 30px;
}
.personalData h1{
  font-size: 20px;
  font-weight: bold;
  text-transform: capitalize;
}

.personalData a{
  text-decoration: none;
  color: black;
  font-size: 12px;
}

.follow span{
  margin-left: 0.5rem;
}
.numbers{
  display: flex;
  flex-direction: column;
  justify-content: start;
  font-weight: bold;
  margin-top: 2rem;
}
.dashboard{
width: 70%;
}
.recipesPro .card{
  margin: 1.5rem;
  height: 25rem;
  border: 0px;
}
.recipesPro{
  padding: 0px;
}
.recipesPro.card-img-top img{
  height: 10rem;
}
@media only screen and (max-device-width: 1030px) {
.profile{
  flex-direction: column;
}
  }