
.recipesDisplay img{
  width: 100%;
  height: 10rem;
}

.tagsFilter{
  display: flex;
  margin: 0 auto;
  justify-content: center;
  font-weight: bold;
}
.recipesDisplay{
  width: 45%;
  margin: 1rem;
  height: 12rem;
}
.displayAllRecipes{
  margin: 2rem auto;
}

.tagsFilter button{
  background-color: white;
  border: 2px solid rgba(59,89,152,1);
  color: #3b5998;
  font-size: 16px;
  font-weight: bold;
  border-radius: 51%;
  width: 5%;
}
.tagsFilter button:hover{
  background-color: #3b5998;
}
#iconSearch{
  color: #E82A69;
}
.card-body a{
  text-decoration: none;
}
.prepInfo{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 26rem;
  text-align: center;
}
.eachInfo{
  display: flex;
  flex-direction: row;
  width: 26rem;
  justify-content: center;
}
.prepInfo i{
  color: #E82A69!important;
  margin: 0px;
}
.prepInfo p{
  margin: 1rem;
  color:#E82A69;
  font-size: 15px;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.number p{
  font-size: 30px;
  color:#E82A69;

}
.imgRecipeId{
  width: 50vh;
  margin-top: 1rem;
  height: 21rem;
  padding: 0.25rem;

}
.bodyRecipe{
  display: flex;
  justify-content: space-between;
  width: 85%;
  padding: 2rem;
  margin: 2rem auto;
  -webkit-box-shadow: 27px 25px 62px 10px rgba(59,89,152,1);
-moz-box-shadow: 27px 25px 62px 10px rgba(59,89,152,1);
box-shadow: 27px 25px 62px 10px rgba(59,89,152,1);
  font-family: "Open Sans", sans-serif;
}
.generalInfo{
  margin: 0 auto;
  
}
.stepsInfo ul{
  width: 42rem;
  display: flex;
  flex-wrap: wrap;
}
.displayTitle h5{
  font-size: 4rem;
  font-family: 'Cookie', cursive;
}
.subTitle{
  font-weight: bold;
  font-size: 17px;
  color: #3b5998;
}
.stepsInfo ul li{
  list-style: none;
  width: 50%;
  font-weight: 700;
  text-transform: inherit;
  letter-spacing: 1px;

}
.generalInfo p{
  margin-top: 1rem;
  font-size: 16px;
  font-weight: bold;
  text-transform: capitalize;
  width: 70%;
  
}
.buttonsRecipes{
  display: flex;
  flex-direction: row;
  width: 12rem;
  justify-content: space-around;
  align-items: center;
  
}
.desc{
  font-size: 18px;
  font-weight: bold;
  margin: 0px;
  padding: 0px;
}
.displayTitle{
  width: 70%;
}
.buttonsRecipes button{
 background-color: white;
 border: 0px;
}
.buttonsRecipes i{
  margin: 0.5rem;
  font-size: 1.5rem;
  color: #E82A69;
}
.buttonsRecipes button:hover{
  background-color: white;
  color: #3b5998;
}
.userName{
  color: #FF5C45;
  text-transform: uppercase;
}
.stepsInfo i{
  margin-right: 0.25rem;
  color: #3b5998;
  margin: 1rem;
}
.howTo p{
  font-weight: 400;
  text-align: center;
  line-height: inherit;
  letter-spacing: 1px;
  width: 50rem;
  color: black;

}
.here span{
  font-size: 18px;
}
.stepsInfo{
  margin-top: 2rem;
  width: 60%;
}
.title{
  text-transform: capitalize;
}
@media only screen and (max-device-width: 1030px) {
  .container{
    width: 23rem;
  }
  .stepsInfo ul{
    width: 100%;
    display: block;
    
  }
  .stepsInfo ul li{
    width: 100%;  
  }
  .bodyRecipe{
    flex-direction: column-reverse ;
    justify-content: start;
    width: 100%;
  }
  .displayTitle{
    width: 100%;
  }
  .stepsInfo{
    width: 100%;
  }
  .stepsInfo p{
    width: 100%;
  }
  .tagsFilter{
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
  }
  .tagsFilter button{
    border: 0px;
    font-size: 30px;
  }
  .recipesDisplay{
    width: 26rem;
  }
  }
  @media screen and (min-width: 1900px) {
    .container{
      width: 1850px;
    }
  
  }