body {
  font-family: 'Roboto', sans-serif;
     }
   .navbar img{
     width: 6rem;
   }
  .title{
    font-size : 2rem;
    font-weight: 700; 
    color: rgb(15,76,129);
  

  }
  nav a, .account {
    color: #000000; 
    font-size: 16px;
    text-decoration: none;
    font-weight: 500; 
    letter-spacing : 1px;
    // text-transform: uppercase;
    height:100%;
    }
    #signUp{
      margin-top: 4rem;
      border-radius: 39px;
      background: rgb(15,76,129);
      padding: 2vh;
      color:white;
      font-weight: bolder;
    }
    #signUp:hover{
      color: rgb(15,76,129);
      border: 1px solid rgb(15,76,129);
      background-color: white;
    }
    .fas.fa-search{
      color: #000000;
    }
  .navbar-toggler-icon{
      background-color: rgb(15,76,129);
    }
    .lupa{
      background-color: white;
      border: 1px solid white;
    }
  nav{
    background-color: white;
    color: rgb(15,76,129);
    padding:1vh;
  }
  
  .navbar-toggler{
  background-color: white!important;
  }
  span.navbar-toggler{
    font-size: 12px;
    color: rgb(15,76,129);
  }
  nav  a:hover ,.account:hover{
    color: rgb(15,76,129);
    text-decoration: none;
    font-weight: bolder;
  }
  .dropdown-item{
    color:#000000;
    font-weight: 400;
  }
  .dropdown-item:hover{
    color: rgb(15,76,129);
  
  }
  ul.navbar-nav{
    width: 100%;
    margin-left: 35vh;
    
  }
  
  .search input{
    margin-top: 0.5rem;
      width: 23vh;
      border-radius: 20px;
      border: 1px solid black;
      height: 4vh;
      background-color : rgba(255,255,255,0.3);
      color: black;
  }
  //MODAL LOGIN
  .formLogin{
    text-align:center ;
    background-color: white;
    padding: 3vh;
    height: 90vh;
    color: black;
    font-family: 'Open Sans', sans-serif;
  }
  .formLogin i{
    font-size: 40px;
  }
  .formLogin i:hover{
    font-size: 50px;
  }
  .input i{
    font-size: 16px;
    color: #3b5998;
  }
  .fab.fa-facebook{
  color:#3b5998;
  }
  .fab.fa-google-plus-square{
    color:#db4a39;
    }
  .formLogin input{
    border-radius: 20px;
      border: 1px solid #e0e0e0;
      width: 43vh;
      padding: 1vh;
      background-color: #e0e0e0;
  }
  .formLogin h1{
    color: #34558b;
    font-size: 60px;
    font-family: 'Cookie', cursive;
  
  
  }
  button.svg{
    background-color: white;
      border: 2px solid #34558b;
      color:#34558b ;
      width: 26vh;
      padding: 2vh;
      font-size: 22px;
      border-radius: 53px;
      display: block;
      margin: 0 auto;
  }
  button.svg:hover{
    background: rgb(15,76,129);
  background: linear-gradient(108deg, rgba(15,76,129,1) 0%, rgba(67,31,158,1) 100%);
  color: white;
  }
  a.create{
    display: block;
      margin-top: 2rem;
      text-transform: lowercase;
      letter-spacing: 2px;
      color: #4f1bd4;
      font-weight: bolder;
  }
  //animationButtons
  .hvr-bounce-in {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
  }
  .hvr-bounce-in:hover, .hvr-bounce-in:focus, .hvr-bounce-in:active {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
    transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  }
  @-webkit-keyframes hvr-wobble-vertical {
    16.65% {
      -webkit-transform: translateY(8px);
      transform: translateY(8px);
    }
    33.3% {
      -webkit-transform: translateY(-6px);
      transform: translateY(-6px);
    }
    49.95% {
      -webkit-transform: translateY(4px);
      transform: translateY(4px);
    }
    66.6% {
      -webkit-transform: translateY(-2px);
      transform: translateY(-2px);
    }
    83.25% {
      -webkit-transform: translateY(1px);
      transform: translateY(1px);
    }
    100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
  }
  @keyframes hvr-wobble-vertical {
    16.65% {
      -webkit-transform: translateY(8px);
      transform: translateY(8px);
    }
    33.3% {
      -webkit-transform: translateY(-6px);
      transform: translateY(-6px);
    }
    49.95% {
      -webkit-transform: translateY(4px);
      transform: translateY(4px);
    }
    66.6% {
      -webkit-transform: translateY(-2px);
      transform: translateY(-2px);
    }
    83.25% {
      -webkit-transform: translateY(1px);
      transform: translateY(1px);
    }
    100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
  }
  .hvr-wobble-vertical {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  }
  .hvr-wobble-vertical:hover, .hvr-wobble-vertical:focus, .hvr-wobble-vertical:active {
    -webkit-animation-name: hvr-wobble-vertical;
    animation-name: hvr-wobble-vertical;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
  }
  
  //SignUp style
  .layout{
    margin-top: 3vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .left{
    text-align: center;
    color:#34558b;
  }
  .left input{
    border-radius: 20px;
    border: 1px solid #e0e0e0;
    width: 50vh;
    padding: 1vh;
    background-color: #e0e0e0;
  }
  .media i{
    font-size: 40px;
  }
  .right img{
    height: 80vh;
    width: 100%;
  }
  i.fas.fa-user{
    margin-right: 1rem;
    color: #34558b;
  }
  i.fas.fa-lock{
    margin-right: 1rem;
    color: #34558b;
  }
  .butSign{
    background-color: white;
      border: 2px solid #34558b;
      color:#34558b ;
      width: 30vh;
      padding: 1vh;
      font-size: 18px;
      border-radius: 40px;
  }
  .butSign:hover{
    background: rgb(15,76,129);
  background: linear-gradient(108deg, rgba(15,76,129,1) 0%, rgba(67,31,158,1) 100%);
  color: white;
  }
  .left h2{
    font-family: 'Cookie', cursive;
    font-size: 60px;
  }
  .tabs {
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap; // make sure it wraps
  }
  .tabs label {
    order: 1; // Put the labels first
    display: block;
    padding: 0.5rem 1rem;
    margin-right: 1rem;
    color: rgb(15,76,129);
    cursor: pointer;
    border: 1px solid rgb(15,76,129);
    font-weight: bold;
    text-transform: capitalize;
    transition: background ease 0.2s;
  }
  .tabs .tab {
    order: 99; // Put the tabs last
    flex-grow: 1;
    width: 100%;
    display: none;
    padding: 1rem;
    background: #fff;
  }
  .tabs input[type="radio"] {
    display: none;
  }
  .tabs input[type="radio"]:checked + label {
    border:3px solid rgb(15,76,129);
    color: rgb(15,76,129);
  }
  .tabs input[type="radio"]:checked + label + .tab {
    display: block;
  }
  footer{
    display: flex;
    justify-content: flex-end;
  }
  footer h3{
    font-size: 16px;
    font-weight: bold;
    color: #E82A69;

  }
  footer i{
    color: #E82A69!important;

  }
  @media (max-width: 45em) {
    .tabs .tab,
    .tabs label {
      order: initial;
    }
    .tabs label {
      width: 100%;
      margin-right: 0;
      margin-top: 0.2rem;
    }
  }
  @media only screen and (max-device-width: 1030px){
 #exampleModal{
   width: 23rem!important;
 }
  .formLogin{
    height: 100vh;
  }
  #signUp{
    background-color: white;
    color: #000000;
    margin: 0px!important;
    padding: 0px;
  }
  ul.navbar-nav{
    margin: 0rem;
  }
  .right{
  display: none;
  }
  
  .left{
    margin:2rem;
  }
  .left input{
    width: 30vh;
  }
  }
  @media screen and (min-width: 1700px) {
    ul.navbar-nav{
      width: 100%;
        margin-left: 5em;
        margin-top: 2rem;
      }
      .search input{
        margin-top: -0.75rem;
      }
  }
  @media screen and (min-width: 1900px) {
    .container{
      width: 1850px;
    }
    ul.navbar-nav{
      width: 100%;
        margin-left: 5em;
        margin-top: 2rem;
      }
      .search input{
        margin-top: -0.75rem;
      }
      .right img{
        width: 55rem;
      }
      .left{
        margin-right: 8rem;
      }
    .formLogin{
      width: 44rem;
    }
    .text{
      text-align: center!important;
    }
  }